# IDE Folders and files.
.buildpath
.settings
.project
.nbproject

# OSX Files.
.DS_Store

# Project files
!empty
/config/database.php
/config/core.php
/tmp/cache/*
/tmp/cache/models/*
/tmp/cache/persistent/*
/tmp/cache/views/*
/tmp/logs/*
/tmp/tests/*
/tmp/sessions/*
/media/*
/webroot/index.php

## Development
cake.bat
case.bat
grp.bat
/plugins/rake/*
/sources/*
